@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<QuickType.Specimen> specimens = (List<QuickType.Specimen>)ViewData["Specimens"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tr>
            <th>Plant ID</th>
            <th>Specimen ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        @{ 
            foreach(QuickType.Specimen specimen in specimens)
            {
                <tr>
                    <td>@specimen.PlantId</td>
                    <td>@specimen.SpecimenId</td>
                    <td>@specimen.Lat</td>
                    <td>@specimen.Lng</td>
                    <td>@specimen.Genus @specimen.Species @specimen.Common</td>
                    <td>@specimen.Address</td>
                    
                </tr>

            }
        }
    </table>
</div>
